/* header css */
* {
    margin: 0;
    padding: 0;
  }
  
  .main {
    background: #333333;
    color: white;
  }
  
  #header {
    padding: 20px;
    margin: 0 auto;
    width: 960px;
    overflow: auto;
  }
  
  #hgroup {
    float: left;
  }
  
  h1 {
    font-weight: normal;
  }
  
  h2 {
    font-weight: normal;
    font-size: 15px;
  }
  
  nav {
    float: right;
    padding: 20px 0;
    background-color: black;
    color: white;
  }
  
  nav ul {
    padding: 0 20px;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 25px;
    text-transform: uppercase;
  }
  
  li a {
    color: white;
    background: black;
    text-decoration: none;
  }
  