/* header css */
* {
  margin: 0;
  padding: 0;
}

.main {
  background: #333333;
  color: white;
}

#header {
  padding: 20px;
  margin: 0 auto;
  width: 960px;
  overflow: auto;
}

#hgroup {
  float: left;
}

h1 {
  font-weight: normal;
}

h2 {
  font-weight: normal;
  font-size: 15px;
}

nav {
  float: right;
  padding: 20px 0;
  background-color: black;
  color: white;
}

nav ul {
  padding: 0 20px;
}

nav ul li {
  display: inline-block;
  margin-right: 25px;
  text-transform: uppercase;
}

li a {
  color: white;
  background: black;
  text-decoration: none;
}
/* Content css */

#container {
  padding: 30px 0;
}
#container section {
  display: block;
  width: 100%;
  margin: 0 0 30px 0;
  padding: 0;
}
#container .last {
  margin: 0;
}
#container .more {
  text-align: right;
}
img {
  margin: 0;
  padding: 0;
  border: none;
  line-height: normal;
  vertical-align: middle;
}
img {
  overflow-clip-margin: content-box;
  overflow: clip;
}
