* {
    margin: 0;
    padding: 0;
}

.container {
    width: 1366px;
    height: 768px;
    border: 2px solid;
    margin: auto;
    background: linear-gradient(180deg, #6F7DFB 0%, #26308C 100%);
}

#header {
    display: flex;
    justify-content: space-between;
}

h1 {
    width: 69px;
    height: 47px;
    margin-top: 48px;
    margin-left: 116px;
}

.list {

    margin-top: 60px;
}

.list ul {
    list-style: none;
}

.list ul li {
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: inline;

}

.list ul li {
    margin-right: 60px;
}

li#last {

    display: inline-flex;
    padding: 16px 32px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 24px;
    background: #023047;
}

#content {
    display: flex;
    justify-content: space-between;
}

#content #first h1 {
    width: 457px;
    height: 126px;
    color: #FFF;
    font-family: Raleway;
    font-size: 50px;
    font-style: normal;
    font-weight: 900;
    line-height: 125%;
    color: #FFF;
    margin-left: 116px;
}

#content #first p {
    width: 457px;
    height: 96px;
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 200%;
    color: #FFF;
    margin-left: 116px;
}

h5 {
    display: inline-flex;
    padding: 16px 32px;
    align-items: center;
    gap: 10px;
    border-radius: 24px;
    background: #DA722C;
    color: #FFF;
    margin-left: 116px;
}

#content #sec .one {
    width: 206px;
    height: 90px;
    flex-shrink: 0;
    border-radius: 24px;
    background: #FFF;
    color: #FFFFFF;
}

#content #sec .one figure {
    color: #023047;
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%;
    padding-top: 10px;
    text-align: center;
    /* 45px */
}

#content #sec .one figcaption {
    color: #023047;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
    text-align: center;
    /* 20px */
}
#content .two{
    height: 562px;
}
/* #content #sec .two h4{

} */
#content #sec .two figure img{
    position: absolute;
}
#content #sec .two{
    position: relative;
}