* {
  margin: 0;
  padding: 0;
}
#main {
  background: black;
  color: white;
}

#header {
  background: black;
  padding: 20px;
  margin: 0 auto;
  width: 960px;
  overflow: auto;
  text-decoration: none;
}

#header #hgroup {
  float: left;
  margin: 0 0 20px 0;
}
#header #hgroup h1,
#header #hgroup h2 {
  font-weight: normal;
  font-style: normal;
}
#header #hgroup h1 {
  font-size: 36px;
}
#header #hgroup h1 a{
  color: brown;
  text-decoration: none;
}
#header #hgroup h2 {
  font-size: 13px;
}

#header form {
  display: block;
  width: 290px;
  float: right;
  margin: 20px 0;
  padding: 0;
}
#header form input {
  display: block;
  float: left;
  width: 200px;
  margin: 0;
  padding: 5px;
  color: white;
  background-color: black;
  border: 1px solid gray;
}
#header form #submit_msg {
  display: block;
  float: right;
  width: 70px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  background-color: orange;
}

#header nav {
  display: block;
  width: 100%;
  margin: 0;
  padding: 20px 0;
  color: #c0bab6;
  background-color: #232323;
  overflow: auto;
}
#header nav ul {
  padding: 0 20px;
}
#header nav li {
  display: inline;
  margin-right: 25px;
  text-transform: uppercase;

}

#header nav li a {
  color: #c0bab6;
  background-color: #232323;
  text-decoration: none;
}
